.md-inline-form md-radio-group md-radio-button {vertical-align: text-bottom;}
.star {
    font-size: 16px;
    color: red;
}
.md-inline-form md-radio-group {
    margin: 18px 0 19px;
}

:host ::ng-deep {
    .p-calendar { width: 100%; }
  }