    <app-card cardTitle="Transaction Report" [options]="false">
        <form  #userForm="ngForm" (submit)="submitUseract(userForm)" >
            <div class="row">
                <div class="col-sm-3 col-xs-12 col-sm-offset-3">
                    <div class="form-group">
                        <label for="inputState">Select Report Type<span class="star">*</span> : </label>
                        <select  name="ReportTypeMode" (change)="changeMainType()" class="form-control" [(ngModel)]="mainTransType" name="maintranstype" #maintranstype="ngModel">
                            <option disabled hidden>--Select ReportType Mode--</option> 
                            <option *ngFor="let el of ReportTypeList" [value]="el">
                                {{el}}
                            </option>
                        </select>
                    </div>  
                </div>
                <div class="col-sm-3 col-xs-12 col-sm-offset-3">
                    <div class="form-group md-inline-form " >
                        <label for="inputState">Please select sub-category<span class="star">*</span> : </label>
                        <div class="list-group ">
                            <li class="form-check"  *ngFor="let el of subcatList[mainTransType]">
                            <input type="radio" name="transactionType" [(ngModel)]="transactionType" value="{{el.value}}" /> 
                            <span class="form-check-label">  {{el.name}}</span>
                            </li>
                        </div>
                 
                    </div>  
                </div>
                <div class="col-sm-3 col-xs-12 col-sm-offset-3" *ngIf="transactionType == 'BBPS' || transactionType == 'AEPS2' || transactionType == 'MATM2' || transactionType == 'RechargeNew' || transactionType == 'UPI'">
                    <div class="form-group" >
                        <label for="inputState">Operation Performed <span class="star">*</span>: </label>
                        <select class="form-control" [(ngModel)]="operationPerformType" name="operationperformtype" #operationperformtype="ngModel">
                            <option disabled value="">-- Select --</option> 
                            <option *ngFor="let el of operationPerformedList[transactionType]"  [value]="el">
                                {{el.name}}
                            </option>
                        </select>
                    </div>  
                </div>
                <div class="col-sm-3 col-xs-12 col-sm-offset-3" *ngIf="transactionType == 'BBPS' || transactionType == 'AEPS2' || transactionType == 'MATM2' || transactionType == 'RechargeNew' || transactionType == 'UPI'">
                    <div class="form-group">
                        <label for="inputState">Status<span class="star">*</span> : </label>
                        <select class="form-control" [(ngModel)]="statusType" name="statustype" #statustype="ngModel">
                            <option disabled value="">-- Select --</option> 
                            <option *ngFor="let el of transactionStatusList[transactionType]"  [value]="el">
                                {{el.name}}
                            </option>
                        </select>
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-xs-12 col-sm-offset-3">
                    <div class="form-group">
                        <label for="inputCity">From Date: </label>
                                   </div> 
                </div>
                <div class="col-sm-3 col-xs-12 col-sm-offset-3">
                    <div class="form-group md-inline-form " >
                        <label for="inputState">To Date<span class="star">*</span> : </label>
                      
                 
                    </div>  
                </div>
              
            </div>
        </form>
    </app-card>